h1 {
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    color: black;
    background: #a9a9a9;
    background: linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -webkit-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -moz-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    font-family: 'Oswald', sans-serif;
}
h1:hover{
    color:black ;
}

spam {
    text-transform: uppercase;
    color: firebrick;
    
}
h2{ 
    color:black;
    width: 50%;
    background: #a9a9a9;
    background: linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -webkit-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -moz-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    font-family: 'Oswald', sans-serif;
}
h2:hover{
    color: black;
    text-transform:uppercase ;
}
h3 {
    background-color: blue;
    color: black;
    width: 50%;
    background: #a9a9a9;
    background: linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -webkit-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -moz-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    font-family: 'Oswald', sans-serif;

}
h3:hover{
    color: black;
    text-transform: uppercase;
}
.clase1 {
    box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    -webkit-box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    -moz-box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    background-color:cadetblue;
    height: 200px;
    width: 200px;
    border:5px solid black;
    box-sizing: border-box;
    padding: 35px;
    font-family: 'Oswald', sans-serif;

}
.clase1:hover {
    background-color: darkgray;
}
.clase2 {
    box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    -webkit-box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    -moz-box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    background-color: cadetblue;
    height: 200px;
    width: 200px;
    border: 5px solid black;
    box-sizing: border-box;
    padding: 35px;
    font-family: 'Oswald', sans-serif;
}
.clase2:hover{
    background-color: darkgray;
}
img {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    box-sizing: border-box;
    box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    -webkit-box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    -moz-box-shadow: -7px -3px 16px 9px rgba(186,41,41,0.63);
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
 
}
html{
    background-color:darkgray;
}
p{
    column-count: 3;
    font-family: 'Oswald', sans-serif;
}
h4{
    background-color: blue;
    color: black;
    width: 100%;
    background: #a9a9a9;
    background: linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -webkit-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -moz-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    font-family: 'Oswald', sans-serif;

}
h5{
    background-color: blue;
    color: black;
    width: 50%;
    background: #a9a9a9;
    background: linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -webkit-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);
    background: -moz-linear-gradient(90deg,#a9a9a9 0%, #902929 80%);


}

spam {
    color:white;
}